<span class="icon-wrapper"><svg role="cart" class="icon icon-cart" width="23" height="30" viewBox="0 0 23 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M11.5013 1C8.79279 1 6.60133 3.19146 6.60133 5.90001V9.4H3.10132C2.88375 9.4035 2.77254 9.584 2.75132 9.71719L1.00132 28.6172C0.983084 28.8111 1.1566 29.0008 1.35132 29H21.6514C21.8461 29 22.0196 28.8111 22.0014 28.6172L20.2514 9.71719C20.2352 9.54513 20.0742 9.39925 19.9014 9.4H16.4014V5.90001C16.4014 3.19146 14.2099 1 11.5013 1ZM11.5013 1.7C13.8342 1.7 15.7014 3.56715 15.7014 5.90001V9.4H7.30133V5.90001C7.30133 3.56715 9.16848 1.7 11.5013 1.7ZM3.41851 10.1H19.5842L21.2686 28.3H1.73413L3.41851 10.1Z" fill="#8F2A2A" stroke="#8F2A2A"/>
  </svg></span>
