<style>

  .brand-header--wrapper {
    background-color: {{ settings.background-color }};
  }

  .active-brand {
    background-color: {{ color }};
  }

  .brand-header--list-item {
    color: white;
    padding: 8px;
    height: 100%;
  }

  /* TODO: Just to make the logo white. A modded SVG would be best though */
  .with-within-filter {
    filter: brightness(1000%);
  }

</style>

<section class="brand-header--wrapper">
  <span class="brand-header--nav-list">
    <a class="brand-header--list-item {% if brand == 'with-and-within' %}active-brand{% endif %}" href="/">
      <img
        class="{% if brand == 'with-and-within' %}with-within-filter{% endif %}"
        alt="With & Within Brand Logo"
        src="{{ settings.brand-logo-1 | image_url }}"
        height="100%"
        width="100%" />
    </a>
    <a class="brand-header--list-item {% if brand == 'skin-salvation' %}active-brand{% endif %}" href="/pages/skinsalvation">
      <img
        alt="Skin Salvation Brand Logo"
        src="{{ settings.brand-logo-2 | image_url }}"
        height="100%"
        width="auto" />
    </a>
  </span>
</section>


<script></script>