{% render 'preorder-now-collection-item', product: product %}
{% section 'product' %}

<div class="gw-rv-main-widget-placeholder" style="display: block" data-product_id={{product.id}}></div>  

{% section 'product-recommendations' %}